page-water-index {
    
}

.alert-md .alert-wrapper{
    max-width: 900px;
    // transform: scale(2);
}

.alert-message{
    text-align: center;
    overflow: hidden;
    font-size: x-large;
}

#alert-msg-0{
    font-size: 25px;
    color: black;
}

.alert-head{
    font-size: 25px !important;
    // color: brown;
}

.button-inner{
    font-size: 18px;
}
